@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

@* <head>
    <!-- Bootstrap CSS -->
    

    <!-- jQuery -->

    <!-- Popper.js -->

    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        // Your script here
    </script>

</head> *@


<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Talepler</h2>
		</div>
        <div class="col-6 text-end">
            <a asp-page="Ekle" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp;Talep Ekle
            </a>
        </div>

    </div>

	<br /><br />

	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Talep Adı
				</th>
				<th>
					Talep Çeşidi
				</th>
				<th>
					Talep Eden Ad
				</th>
				<th>
					Talep Eden Soyad
				</th>
                <th>
                    Onay
                </th>
				<th>
					İşlemler
				</th>
			</tr>
            @{
                int pageSize = 3; // Number of items per page
                int currentPage = Request.Query["page"].FirstOrDefault() != null ? Convert.ToInt32(Request.Query["page"]) : 1; // Get current page from the query parameter, default to 1
                var items = Model.Talepler.Skip((currentPage - 1) * pageSize).Take(pageSize);
                int totalPages = (int)Math.Ceiling((double)Model.Talepler.Count() / pageSize);
                int paginationSize = 3;
                var half = (int)(paginationSize / 2);
            }
        </thead>
        <tbody>
            @foreach (var obj in items)
            {
                <tr id="rowtodelete" data-row-id="@obj.Id">
                    <td width="16%">@obj.AltKategori.Name</td>
                    <td width="16%">@obj.AltKategori.Kategori.Name</td>
                    <td width="16%">@obj.Edenİsim</td>
                    <td width="16%">@obj.EdenSoyisim</td>
                    <td width="11%" class="text-center">
                        <input type="checkbox" class="onayCheck" @(obj.Onaylandi == 1 ? "checked" : "") />
                    </td>
                    <td class="text-center" width="25%">
                        <div class=" btn-group-justified" role="group">
                            <button type="button" class="btn btn-success onayla-button" id="onaylabutonu" data-talep-id="@obj.Id">Onayla</button>
                            <button type="button" class="btn btn-warning">Düzenle</button>
                            <button type="button" class="btn btn-danger delete-button" id="silbutonu" data-talep-id="@obj.Id">Sil</button>
                            @Html.AntiForgeryToken()
                        </div>
                    </td>
                    
                </tr>
            }

        </tbody>
    </table>
    <!-- Compact Pagination -->
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="?page=@(currentPage - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @if (totalPages < paginationSize)
                {
                    // last page
                    for (int i = 1; i <= totalPages; i++)
                    {
                        <li class="page-item @(i == currentPage ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }

                }
                
                else if (currentPage == 1)
                {
                    // first page
                    for (int i = currentPage; i < currentPage + paginationSize; i++)
                    {
                        <li class="page-item @(i == currentPage ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }
                }
                
                else if (currentPage == totalPages)
                {
                    // last page
                    for (int i = currentPage - paginationSize + 1; i <= currentPage; i++)
                    {
                        <li class="page-item @(i == currentPage ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }

                }
                else
                {
                    // middle ones
                    for (int i = Math.Max(1, currentPage - half); i <= Math.Min(totalPages, currentPage + half); i++)
                    {
                        <li class="page-item @(i == currentPage ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }
                }

                <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                    <a class="page-link" href="?page=@(currentPage + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>




</div>

<!-- Modal for Delete Confirmation -->
<div id="deleteConfirmationModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Talep Silme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bu talebi kalıcı olarak silmek üzeresiniz. Silmek istediğinize emin misiniz?</p>
            </div>
            <div class="modal-footer">
                <button id="modalSilVazgec" type="button" class="btn btn-secondary modalVazgec" data-dismiss="modal">Vazgeç</button>
                <button id="deleteTalepButton" class="btn btn-danger">Sil</button>
            </div>
        </div>
    </div>
</div>





<div id="onaylaModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Talep Onaylama</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bu talebi onaylamak üzeresiniz. Onaylıyor musunuz?</p>
            </div>
            <div class="modal-footer">
                <button id="modalOnayVazgec" type="button" class="btn btn-secondary modalVazgec" data-dismiss="modal">Vazgeç</button>
                <button id="onaylaTalepButton" class="btn btn-success">Onayla</button>
            </div>
        </div>
    </div>
</div>



<div id="onayRedModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Talep Onay Kaldırma</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bu talebin onayını kaldırmak üzeresiniz. Emin misiniz?</p>
            </div>
            <div class="modal-footer">
                <button id="modalOnayVazgec" type="button" class="btn btn-secondary modalVazgec" data-dismiss="modal">Vazgeç</button>
                <button id="onayRedTalepButton" class="btn btn-danger">Onayı Kaldır</button>
            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {

  

        $(".modalVazgec").click(function () {
            $("#deleteConfirmationModal").modal("hide");
            $("#onaylaModal").modal("hide");
            $("#onayRedModal").modal("hide");
            location.reload()
        });
        $(".close").click(function () {
            $("#deleteConfirmationModal").modal("hide");
            $("#onaylaModal").modal("hide");
            $("#onayRedModal").modal("hide");
            location.reload()
        });
        $(".delete-button").click(function () {
            var $rowToDelete = $(this).closest("tr");
            var talepId = $rowToDelete.data("row-id");

            $("#deleteConfirmationModal").modal("show");
            $("#deleteTalepButton").data("talep-id", talepId);
        });

        $("#deleteTalepButton").click(function () {
            var talepId = $("#deleteTalepButton").data("talep-id");

            $.ajax({
                type: 'POST',
                url: '/Index?handler=TalepSil',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: { id: talepId },
                success: function (data) {
                    console.log("Delete successful");

                    // Remove the deleted row without reloading the entire page
                    $('tr[data-row-id="' + talepId + '"]').remove();
                    $("#deleteConfirmationModal").modal("hide");
                    location.reload()
                },
                error: function (xhr, status, error) {
                    console.error("Error deleting Talep:", status, error);
                }
            });
        });


        // onayla
        $(".onayla-button").click(function () {
            var $onaylanacakRow = $(this).closest("tr");
            var talepId = $onaylanacakRow.data("row-id");

            $("#onaylaModal").modal("show");
            $("#onaylaTalepButton").data("talep-id", talepId);
        });

        $(".onayCheck").change(function () {
            var $onaylanacakRow = $(this).closest("tr");
            var talepId = $onaylanacakRow.data("row-id");

            

            var isChecked = $(this).prop("checked");

            if (isChecked) {
                $("#onaylaModal").modal("show");
                $("#onaylaTalepButton").data("talep-id", talepId);
            }
            else {
                $("#onayRedModal").modal("show");
                $("#onayRedTalepButton").data("talep-id", talepId);
            }

        });

        $("#onayRedTalepButton").click(function () {
            var talepId = $("#onayRedTalepButton").data("talep-id");

            $.ajax({
                type: 'POST',
                url: '/Index?handler=TalepOnayla',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: { id: talepId, onay: 0 },
                success: function (data) {
                    console.log("Onaylama başarılı.");
                    $("#onayRedModal").modal("hide");
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error("Hata onaylarken Talep:", status, error);
                }
            });
        });

        $("#onaylaTalepButton").click(function () {
            var talepId = $("#onaylaTalepButton").data("talep-id");

            $.ajax({
                type: 'POST',
                url: '/Index?handler=TalepOnayla',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: { id: talepId, onay: 1 },
                success: function (data) {
                    console.log("Onaylama başarılı.");
                    $("#onaylaModal").modal("hide");
                    $("#onayRedModal").modal("hide");
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error("Hata onaylarken Talep:", status, error);
                }
            });
        });
    });

</script>


